.loginInput,
.loginButton,
.registerButton,
.registerButton1 {
  width: 100%;
}

.addSessieButton,
.addSessieButton.sapMBtnBase,
.addSessieButton .sapMBtnHoverable {
  background-color: rgb(0, 178, 221) !important;
  border: none !important;
  border-radius: 5px !important;
  color: #f4f4f4 !important;
}
.addSessieButton1,
.addSessieButton1.sapMBtnBase,
.addSessieButton1 .sapMBtnHoverable {
  margin-top: 5%;
  /* background-color: rgb(239 175 57) !important; */
  border: none !important;
  border-radius: 5px !important;
  color: #f4f4f4 !important;

  display: flex; /* Ensure buttons take up full space */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */

  flex-direction: column; /* Stack content vertically */
  text-align: center; /* Center text horizontally */
  margin-top: 5px;
}

@media (max-width: 600px) {
  .loginBox {
    padding: 10px;
  }

  .loginLayout {
    width: 100%;
    margin: auto;
  }

  .profileImage {
    width: 100px;
    height: auto;
  }

  .loginTitle,
  .loginLabel {
    font-size: 16px;
  }

  .sapUiSmallMarginEnd {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .loginInput,
  .loginButton,
  .registerButton {
    width: 100%;
  }
} /* Style for MessageToast */
.sapMMessageToast {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Style for the close button */
.sapMMessageToastCloseButton {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* Hover effect for the close button */
.sapMMessageToastCloseButton:hover {
  color: #ccc;
}
