.loginPage {
  background-color: #f4f4f4;
}

.loginBox {
  margin-top: 100px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loginLayout {
  margin: 0 auto;
}

.loginInput,
.loginButton,
.forgotPasswordLink {
  margin-bottom: 15px;
}

.forgotPasswordLink {
  color: #007cc0;
  text-decoration: none;
}

.forgotPasswordLink:hover {
  text-decoration: underline;
}

.registerPage {
  background-color: #f4f4f4;
}

.registerBox {
  margin-top: 100px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.registerLayout {
  margin: 0 auto;
}

.registerButton {
  margin-bottom: 15px;
}

.emailLabel {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

@keyframes coolTitle {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.coolTitleAnimation {
  animation: coolTitle 1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in;
}
.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

#forgotPassword {
  font-size: 16px;
  font-weight: bold;
}
#forgotPasswordText {
  margin-bottom: 15px;
}
