.loginPage {
  background-color: #f4f4f4;
}

.loginBox {
  margin-top: 50px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loginLayout {
  margin: 0 auto;
}

.loginInput,
.loginButton,
.forgotPasswordLink {
  margin-bottom: 15px;
}

.forgotPasswordLink {
  color: #007cc0;
  text-decoration: none;
}

.forgotPasswordLink:hover {
  text-decoration: underline;
}

.registerPage {
  background-color: #f4f4f4;
}

.registerBox {
  margin-top: 100px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.registerLayout {
  margin: 0 auto;
}

.registerButton {
  margin-bottom: 15px;
}

.emailLabel {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

@keyframes coolTitle {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.coolTitleAnimation {
  animation: coolTitle 1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

#forgotPassword {
  font-size: 16px;
  font-weight: bold;
}

#forgotPasswordText {
  margin-bottom: 15px;
}

.bigButton {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  margin: 10px; /* Adjust the margin as needed */
}

.registerTitle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
}

.registerImage {
  width: 150px;
  height: 150px;
  margin: auto; /* Center horizontally */
  display: block; /* For margin auto to work, display block is needed */
}

.registerButton {
  display: block;
  margin: auto; /* Center horizontally */
  margin-top: 20px;
  width: 200px;
  height: 50px;
}

.outerFlexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerFlexBoxWithPadding {
  padding: 1rem;
}

.registerFlexBox {
  display: flex;
  flex-direction: row;
}

.leftFlexBox,
.rightFlexBox {
  flex: 1;
}

.formField {
  margin-bottom: 1rem;
}

.registerLabel {
  width: 150px; /* Adjust width as needed */
  text-align: right;
  padding-right: 1rem;
  margin-top: 8px; /* Add margin-top */
}

.registerInput {
  flex: 1;
}

.registerButton {
  margin-top: 1rem;
  width: 200px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileBox {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.userInfoTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.profileImage {
  width: 150px;
  height: 150px;
  margin: auto; /* Center horizontally */
  display: block; /* For margin auto to work, display block is needed */
}

.updateProfileButton,
.logoutButton {
  display: block;
  margin: auto; /* Center horizontally */
  margin-top: 20px;
  width: 200px;
  height: 50px;
}

.feedbackLabel {
  margin-top: 1rem;
  text-align: left;
}

.infoBox {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#datum {
  text-align: right;
}

#_IDGenButton1 {
  margin-left: auto; /* Push the button to the right */
}

.loginImageCreateSession {
  width: 200px;
  height: 200px;
  margin: auto; /* Center horizontally */
  display: block; /* For margin auto to work, display block is needed */
}

.InputCreateSession {
  margin-bottom: 1rem;
}

.LabelCreateSession {
  font-weight: bold;
}

.createSessionBox {
  margin-top: 50px;
  background-color: rgb(242, 240, 234);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.eventBox {
  background-color: rgb(242, 240, 234);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.createSessionLayout {
  margin: 0 auto;
  margin-bottom: 100px;
}
.feedbackLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lHorizontalLayout {
  display: flex;
  align-items: center;
  width: 100%;
}

.feedbackBox {
  margin-top: 100px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.TitleCreateSession {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(0 114 135);
}

.LabelCreateSession {
  font-size: 16px;
  color: rgb(0 114 135);
}
