.loginPage {
  background-color: #f4f4f4;
}

.loginBox {
  margin-top: 100px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loginLayout {
  margin: 0 auto;
}

.loginInput,
.loginButton,
.forgotPasswordLink {
  margin-bottom: 15px;
}

.forgotPasswordLink {
  color: #007cc0;
  text-decoration: none;
}

.forgotPasswordLink:hover {
  text-decoration: underline;
}
